body {
	margin: 0px;
	overflow: hidden;
}

.ui {
  position: absolute;
}

#info {
    width: 100%;
    height: 40px;
    text-align: center;
    color: white;
    font-family: Verdana;
}

.sattable {
    position: absolute;
    cursor: pointer;
    margin-right: 8px;
    border-collapse: collapse;
}
.sattable td {
    color: white;
    font-family: Verdana;
    font-size: small;
    padding: 4px;
}
.sattable tr:hover {
    background-color: #666;
}
